# Maven
target/
*.class

# Environment variables
.env

# Java build output
target/

# IDE files
.idea/
*.iml

# VS Code
.vscode/
!.vscode/launch.json

# Operating system files
.DS_Store
Thumbs.db

# Logs
*.log

# Eclipse
.classpath
.project
.settings/
